@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 59, 87);
  color: white;
  font-size: 16px;
  font-family: "Bai Jamjuree", sans-serif;
  height: 100vh;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: white;
}

.logoImage {
  height: 80px;
  margin-left: 10px;
}

.logoTitleBox {
  color: rgb(40, 59, 87);
  margin-left: 15px;
}

.header h4 {
  color: rgb(40, 59, 87);
  margin-left: 15px;
  margin-top: 5px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchForm {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search_bar {
  width: 300px;
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s;
}

#search_bar:focus {
  border-color: #2ecc71;
}

.user-container {
  width: 750px;
  margin: 20px;
  margin-top: 50px;
}
.profilePic {
  margin-left: 290px;
  margin-top: -20px;
  width: 20%;

  border: 2px solid black;
  border-radius: 100px;
}

.user-fullName,
.userName,
.bio,
.followers,
.following {
  text-align: center;
  margin-top: 15px;
}

.error {
  color: red;
  text-align: center;
}

/* Repository Section */
.user-container h4 {
  text-align: center;
  margin-top: 10px;
}

.repositoryList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.repositoryItem {
  margin-top: 15px;
  margin-left: 15px;
  text-wrap: wrap;
}

.repositoryItem a {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-weight: lighter;
  border: 1px solid #3498db;
  color: #3498db;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.repositoryItem a:hover {
  background-color: #3498db;
  color: #ffffff;
}
